* {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
}
body {
  /* background-color: honeydew; */

  /* using background color with RGBA format */
  /* background-color: rgba(255, 99, 71, 0.2); */

  /* attach image in background */
  /* background-image: url("https://assets.manutd.com/AssetPicker/images/0/0/22/86/1463988/24-Andre-Onana1751366049240.png"); */

  /* adjust repeat mode in image or bg */
  /* background-repeat: no-repeat;

  
  background-position: right top; */

  /* shorten the background styling */
  /* sequence : bg-color, bg-image, bg-repeat, bg-attachment, bg-position */
  background: honeydew
    url("https://assets.manutd.com/AssetPicker/images/0/0/22/86/1463988/24-Andre-Onana1751366049240.png")
    no-repeat right top;
}

/* using tag as a css selector */
p {
  font-size: 20px;
}

/* using id as a css selector */
#title {
  text-align: center;
  /* using font color with HEX format */
  color: honeydew;
  background-color: indianred;

  /* use position styling sticky for navbar, most suitable */
  position: sticky;
  top: 0;

  /* adjust display */
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  /* padding and margin */
  padding: 0 20px;
}

/* using class as a css selector */
.content {
  background-color: blanchedalmond;
  text-align: center;
  color: indigo;

  /* adjust the transparency */
  opacity: 0.5;
}

.content2 {
  background-color: blanchedalmond;
  color: indigo;

  /* adjust the transparency */
  opacity: 0.5;
}

/* adjust border */
p.solid {
  opacity: 1;
  border-radius: 5px;

  /* shorthand border */
  border-left: 10px solid white;
}
p.solid2 {
  border-style: solid;
  opacity: 1;
}
p.one {
  border-color: orangered;
}
p.two {
  border-color: forestgreen;
}
p.three {
  border-color: dodgerblue;
}

/* adjust margin and padding */
p.solid {
  /* shorthand margin */
  margin: 10px 10px 10px 20px;
  /* 
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px; */

  /* shorthand padding*/
  padding: 10px 0px 0px 10px;
}
.list-icons {
  margin: 10px 20px;
  display: block;

  /* to hide an element */
  /* visibility: hidden; */
}

/* adjust height, width and max-width */

p.solid {
  height: 40px;
}
.card {
  margin: 10px 20px;
  padding: 10px 0px 0px 10px;
  height: 400px;
  width: 250px;
  background-color: seashell;
  border: 3px solid olivedrab;
  border-radius: 5px;
}

/* adjust text formatting */

.card {
  text-align: center;
  vertical-align: text-bottom;
  /* text-decoration-line: underline;
  text-decoration-color: orchid;
  text-decoration-style: solid;
  text-decoration-thickness: 3px; */

  /* shorthand text-decoration */
  text-decoration: underline orchid solid 3px;
  text-transform: capitalize;

  /* flex the content inside */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* adjust link formatting */

p > b > a:link {
  margin: 10px 20px;
  color: navy;
  text-decoration: none;
  background-color: paleturquoise;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
  border: 2px solid navy;
  cursor: pointer;
}
p > b > a:hover,
p > b > a:active {
  margin: 10px 20px;
  color: orangered;
  background-color: lightyellow;
}

/* adjust list */
li,
#container-card {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  flex-shrink: none;
}

#container-card {
  /* width: 100%; */
  justify-content: space-evenly;
  /* overflow: auto; */
  overflow-x: scroll; /* Add vertical scrollbar */
}

#pos {
  margin: 10px 20px;
  background-color: lightseagreen;
  color: azure;
  padding: 10px;
  width: 30%;
  border: solid 3px mediumblue;
}

/* adjust image card container */
#card1 {
  background: url("https://i.pinimg.com/736x/ef/30/d6/ef30d6d648b930fad44f0d8c5596aa5c.jpg")
    no-repeat;
  background-size: cover;
}
#card2 {
  background: url("https://i.pinimg.com/736x/d0/74/6c/d0746c822c78a48c5e434313e60d1577.jpg")
    no-repeat;
  background-size: cover;
}
#card3 {
  background: url("https://i.pinimg.com/736x/a4/d5/91/a4d591b85709968d87c33dd01030a46f.jpg")
    no-repeat;
  background-size: cover;
}

/* adjust navbar style */
#navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: burlywood;
  width: 200px;
  text-align: left;
}
.menu {
  display: block;
  color: midnightblue;
  padding: 8px 16px;
  text-decoration: none;
}
.menu:hover {
  background-color: darkblue;
  color: coral;
  width: 100%;
}
.menu.active {
  background-color: coral;
  color: darkblue;
  width: 100%;
}

/* adjust dropdown formatting */
.dropdown {
  position: relative;
  display: inline-block;
}
#dropdown-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: midnightblue;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 16px 12px;
  z-index: 1;
  margin-bottom: 10px;
  transition: all 0.7s ease;
}
#dropdown-content > li > a {
  text-decoration: none;
  display: block;
  color: coral;
  transition: all 0.7s ease;
}
#dropdown:hover #dropdown-content {
  opacity: 1;
  visibility: visible;
  width: 200px;
}
#dropdown:hover #dropdown-content > li > a:hover {
  color: midnightblue;
  background-color: coral;
  width: 100%;
  text-align: left;
}
