* {
  font-family: Verdana;
}
body {
  /* background-color: honeydew; */

  /* using background color with RGBA format */
  /* background-color: rgba(255, 99, 71, 0.2); */

  /* attach image in background */
  /* background-image: url("https://assets.manutd.com/AssetPicker/images/0/0/22/86/1463988/24-Andre-Onana1751366049240.png"); */

  /* adjust repeat mode in image or bg */
  /* background-repeat: no-repeat;

  
  background-position: right top; */

  /* shorten the background styling */
  /* sequence : bg-color, bg-image, bg-repeat, bg-attachment, bg-position */
  background: honeydew
    url("https://assets.manutd.com/AssetPicker/images/0/0/22/86/1463988/24-Andre-Onana1751366049240.png")
    no-repeat right top;
}

/* using tag as a css selector */
p {
  font-size: 20px;
}

/* using id as a css selector */
#title {
  text-align: center;
  /* using font color with HEX format */
  color: honeydew;
  background-color: indianred;
}

/* using class as a css selector */
.content {
  background-color: blanchedalmond;
  text-align: center;
  color: indigo;

  /* adjust the transparency */
  opacity: 0.5;
}

.content2 {
  background-color: blanchedalmond;
  color: indigo;

  /* adjust the transparency */
  opacity: 0.5;
}

/* adjust border */
p.solid {
  opacity: 1;
  border-radius: 5px;

  /* shorthand border */
  border-left: 10px solid white;
}
p.solid2 {
  border-style: solid;
  opacity: 1;
}
p.one {
  border-color: orangered;
}
p.two {
  border-color: forestgreen;
}
p.three {
  border-color: dodgerblue;
}

/* adjust margin and padding */
p.solid {
  /* shorthand margin */
  margin: 10px 10px 10px 20px;
  /* 
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px; */

  /* shorthand padding*/
  padding: 10px 0px 0px 10px;
}

/* adjust height, width and max-width */

p.solid {
  height: 40px;
}
.card {
  margin: 10px 20px;
  padding: 10px 0px 0px 10px;
  height: 200px;
  width: 150px;
  background-color: seashell;
  border: 3px solid olivedrab;
  border-radius: 5px;
}
